/**
 * ------------------------------------------------
 * Node Template
 * ------------------------------------------------
 */


/**
 * ------------------------------------------------
 * Container / Root
 * ------------------------------------------------
 */
.mxflow-container {
    background: #141b2d;
}

.mxflow-root--panning {
    cursor: grab;
}


/**
 * ------------------------------------------------
 * Background
 * ------------------------------------------------
 */
.mxflow-grid-inner {
    stroke:#ffffff42;
}

.mxflow-grid-outer {
    stroke:#ffffff3a;
}

.mxflow-dots circle {
    fill: #97c4ff96;
}


/**
 * ------------------------------------------------
 * Node
 * ------------------------------------------------
 */
.mxflow-node {
    background: #1f2940;
    border-radius: 3px;
    border: 2px solid #1f2940;
    /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);  */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: background 100ms;
}

.mxflow-node-content {
    width: 100%;
}

.mxflow-node.mxflow-item--preselected {
    /* background: #00c5fc; */
    /* border: 2px solid #00c5fc; */
    transition: background 100ms;
}

.mxflow-node.mxflow-item--preselected::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: #00c5fc4b;
    border-radius: 3px;
}


.mxflow-node.mxflow-item--selected {
    transition: background 100ms;
    border: 2px solid #00c6ff;
}

/**
 * ------------------------------------------------
 * Edges
 * ------------------------------------------------
 */
ul[data-mxflow-edge-group="inputs"] {
    margin-left: -7.5px;
}

ul[data-mxflow-edge-group="outputs"] {
    margin-right: -7px;
}

.mxflow-edge {
    width: 12px;
    height: 12px;
    background: #00ffea;
    border: 2px solid #005e56;
    margin-bottom: 12px;
    border-radius: 100%;
}

.mxflow-edge-group {
    /* position: absolute; */
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 0;
    height: 100%;
}

.mxflow-link-band1 {
    fill: none;
    stroke-width: 15px;
    stroke: #ffffff1c;
    opacity: 0;
    cursor: pointer;
    transition: 100ms;
    pointer-events: auto;
}

.mxflow-item--selected .mxflow-link-band1,
.mxflow-link-band1:hover {
    opacity: 1;
    transition: 100ms;
}

.mxflow-link-band2 {
    display: none;
    /* stroke-width: 3px;
    stroke: #005e56;
    fill: none;
    cursor: pointer; */
}

.mxflow-link-band3 {
    stroke-width: 1px;
    /* stroke:rgb(255, 255, 255); */
    stroke: white;
    fill: none;
    cursor: pointer;
}

.mxflow-ghost-link {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    opacity: .75;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    pointer-events: none;
    stroke-dasharray: 6;
    animation: dash 12s linear infinite;
}

.mxflow-link--invalid {
    stroke: red;
    transition: stroke 100ms;
}

.mxflow-link--valid {
    stroke: rgb(0, 255, 85);
    transition: stroke 100ms;
}

@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
}


/**
 *
 */
.mxflow-lasso {
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke: rgb(0, 183, 255);
    fill:rgba(0, 204, 255, 0.05);
}

.mxflow-context {
    min-width: 200px;
    min-height: 150px;
    background: rgba(0,0,0, .5);
    border-radius: 4px;
    color: white;
    padding: 1rem;
}

/**
 * For lasso select tool
 */
/* .mxflow-lasso {
    background: rgba(0, 183, 255, 0.199);
}

.mxflow-edge {
    cursor: pointer;
    pointer-events: auto;
}

.mxflow-ghost-link {
    fill: gray;
    stroke: gray;
    opacity: .75;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    pointer-events: none;
    stroke-dasharray: 6;
    animation: dash 12s linear infinite;
}

.mxflow-link--invalid {
    stroke: red;
    transition: stroke 100ms;
}

.mxflow-link--valid {
    stroke: limegreen;
    transition: stroke 100ms;
}

@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
}

.mxflow-link--selected .mx-flow-link-inner {
    stroke: rgb(0, 195, 255);
}

.mxflow-link-outer {
    stroke: rgb(0, 195, 255);;
    opacity: 0;
    stroke-width: 25px;
    z-index: 1000;
    transition: stroke 100ms;
    cursor: pointer;
    fill: none;
}

.mxflow-link-outer:hover {
    opacity: .15;
}

.mxflow-link-outer:hover + .mx-flow-link-inner {
    stroke: rgb(0, 195, 255);
}

.mxflow-link-inner {
    stroke: gray;
    opacity: 1;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    cursor: pointer;
}

.mxflow-link-inner:hover {
    stroke: rgb(0, 255, 234);;
}

.mxflow-grid-inner {
    stroke:rgb(0, 195, 255);
}

.mxflow-grid-outer {
    stroke:red;
} */