/**
 * ------------------------------------------------
 * Node Template
 * ------------------------------------------------
 */

/**
 *
 *
 */


/**
 * ------------------------------------------------
 * Container / Root
 * ------------------------------------------------
 */
.mxflow-container {
    background: black;
}

.mxflow-root--panning {
    cursor: grab;
}


/**
 * ------------------------------------------------
 * Background
 * ------------------------------------------------
 */
.mxflow-grid-inner {
    stroke:rgb(196, 196, 196);
}

.mxflow-grid-outer {
    stroke:limegreen;
}

.mxflow-dots circle {
    fill: limegreen;
}


/**
 * ------------------------------------------------
 * Node
 * ------------------------------------------------
 */
.mxflow-node {
    background: #000000;
    border-radius: 3px;
    outline: 2px solid rgb(0, 109, 0);
    transition: background 100ms;
}

.mxflow-node.mxflow-item--preselected {
    background: rgb(0, 27, 0);
    transition: background 100ms;
}


.mxflow-node.mxflow-item--selected {
    transition: background 100ms;
    outline: 2px solid lime;
}

/**
 * ------------------------------------------------
 * Edges
 * ------------------------------------------------
 */
ul[data-mxflow-edge-group="inputs"] {
    margin-left: -7.5px;
}

ul[data-mxflow-edge-group="outputs"] {
    margin-right: -7px;
}

.mxflow-edge {
    width: 12px;
    height: 12px;
    background: lime;
    border: 2px solid black;
    margin-bottom: 12px;
    border-radius: 100%;
}

.mxflow-edge-group {
    /* position: absolute; */
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 0;
    height: 100%;
}

.mxflow-link-outer {
    stroke: lime;
    /* stroke-dasharray: 6; */
    /* animation: dash 12s linear infinite; */
}


.mxflow-link-outer {
    stroke: rgb(255, 255, 255);
    stroke-width: 4px;
    opacity: 1;
    /* stroke-dasharray: 6; */
    /* animation: dash 12s linear infinite; */
}

.mxflow-ghost-link {
    fill: lime;
    stroke: lime;
    opacity: .75;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    pointer-events: none;
    stroke-dasharray: 6;
    animation: dash 12s linear infinite;
}

.mxflow-link--invalid {
    stroke: red;
    transition: stroke 100ms;
}

.mxflow-link--valid {
    stroke: cyan;
    transition: stroke 100ms;
}

@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
}


/**
 *
 */
.mxflow-lasso {
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke: lime;
    fill:rgba(0, 255, 0, .05);
}

/**
 * For lasso select tool
 */
/* .mxflow-lasso {
    background: rgba(0, 183, 255, 0.199);
}

.mxflow-edge {
    cursor: pointer;
    pointer-events: auto;
}

.mxflow-ghost-link {
    fill: gray;
    stroke: gray;
    opacity: .75;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    pointer-events: none;
    stroke-dasharray: 6;
    animation: dash 12s linear infinite;
}

.mxflow-link--invalid {
    stroke: red;
    transition: stroke 100ms;
}

.mxflow-link--valid {
    stroke: limegreen;
    transition: stroke 100ms;
}

@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
}

.mxflow-link--selected .mx-flow-link-inner {
    stroke: rgb(0, 195, 255);
}

.mxflow-link-outer {
    stroke: rgb(0, 195, 255);;
    opacity: 0;
    stroke-width: 25px;
    z-index: 1000;
    transition: stroke 100ms;
    cursor: pointer;
    fill: none;
}

.mxflow-link-outer:hover {
    opacity: .15;
}

.mxflow-link-outer:hover + .mx-flow-link-inner {
    stroke: rgb(0, 195, 255);
}

.mxflow-link-inner {
    stroke: gray;
    opacity: 1;
    stroke-width: 2px;
    z-index: 1000;
    transition: stroke 100ms;
    fill: none;
    cursor: pointer;
}

.mxflow-link-inner:hover {
    stroke: rgb(0, 255, 234);;
}

.mxflow-grid-inner {
    stroke:rgb(0, 195, 255);
}

.mxflow-grid-outer {
    stroke:red;
} */